@layout MainLayoutPJKBM
@page "/index/pjkbm"


  <h4>Assalamualaikum wr wb, berikut adalah sistem informasi PJKBM. Silakan akses menu dibawah:</h4>
 <div class="row">
     <div class="col-lg-4">
         <!-- Basic Card Example -->
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Data BAB</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Mengatur data master bab</h5>

                 <p class="card-text">Untuk mengatur kategori per materi untuk siswa.</p>
                 <a style="color:black;" href="/master/bab" class="card-link">Buka</a>
             </div>
         </div>

         
     </div>

     <div class="col-lg-4">
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Data Materi</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Mengatur data master materi</h5>

                 <p class="card-text">Untuk mengatur data materi untuk siswa.</p>
                 <a style="color:black;" href="/master/materi" class="card-link">Buka</a>
             </div>
         </div>

     </div>

     <div class="col-lg-4">

         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Data Kelas</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Mengatur data master kelas</h5>

                 <p class="card-text">Untuk mengatur kelas dan siswa per kelas.</p>
                 <a style="color:black;" href="/master/kelas" class="card-link">Buka</a>
             </div>
         </div>

     </div>

     <div class="col-lg-4">

         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Data Materi Per Kelas</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Mengatur data master Materi per Kelas</h5>

                 <p class="card-text">Untuk mengatur materi per kelas.</p>
                 <a style="color:black;" href="/master/materiperkelas" class="card-link">Buka</a>
             </div>
         </div>

        
     </div>

     <div class="col-lg-4">

         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Pemberian Nilai dan Absensi Siswa</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Mengatur data penilaian siswa</h5>

                 <p class="card-text">Untuk absensi dan pemberian nilai siswa.</p>
                 <a style="color:black;" href="/master/nilaisiswa" class="card-link">Buka</a>
             </div>
         </div>

     </div>

     <div class="col-lg-4">

         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Laporan Evaluasi (Raport)</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Melihat hasil evaluasi siswa</h5>

                 <p class="card-text">Untuk evaluasi performa siswa.</p>
                 <a style="color:black;" href="/master/laporan-pjkbm" class="card-link">Buka</a>
             </div>
         </div>

     </div>

     <div class="col-lg-4">
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Data Anekdot</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Evaluasi peristiwa selama kegiatan belajar mengajar</h5>

                 <p class="card-text">Permasalahan dan Solusi yang terjadi selama proses belajar.</p>
                 <a style="color:black;" href="/master/anekdot" class="card-link">Buka</a>
             </div>
         </div>

     </div>
    
     <div class="col-lg-4">
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Program per Semester</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Mengatur Program per Semester</h5>

                 <p class="card-text">Untuk mengatur program belajar per semester.</p>
                 <a style="color:black;" href="/master/ProgramSemester" class="card-link">Buka</a>
             </div>
         </div>

     </div>

     <div class="col-lg-4">
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Data Kalender Pendidikan</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Mengatur Data Kalender Pendidikan</h5>

                 <p class="card-text">Untuk mengatur kalender kegiatan pendidikan.</p>
                 <a style="color:black;" href="/master/KalenderPendidikan" class="card-link">Buka</a>
             </div>
         </div>

         
     </div>

     <div class="col-lg-4">
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Evaluasi Akhir</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Memberi nilai ujian akhir</h5>

                 <p class="card-text">Untuk memberi nilai akhir pada siswa.</p>
                 <a style="color:black;" href="/master/EvaluasiKelas" class="card-link">Buka</a>
             </div>
         </div>

     </div>

     <div class="col-lg-4">
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Pembuatan Buku PJKBM</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Membuat buku evaluasi per semester</h5>

                 <p class="card-text">Untuk membuat buku evaluasi belajar selama 1 semester.</p>
                 <a style="color:black;" href="/master/report-buku" class="card-link">Buka</a>
             </div>
         </div>

     </div>

     <div class="col-lg-4">
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Hasil Musyawah 5 Unsur</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Dokumen notulensi Musyawarah 5 Unsur</h5>

                 <p class="card-text">Dokumen-dokumen terkait hasil musyawarah.</p>
                 <a style="color:black;" href="/master/Musyawarah5Unsur" class="card-link">Buka</a>
             </div>
         </div>

     </div>
     
     <div class="col-lg-4">
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Saran dan Masukan</h6>
             </div>
             <div class="card-body">
                 <h5 class="card-title">Kanal untuk memberi saran dan masukan pada PJKBM</h5>

                 <p class="card-text">Aspirasi jamaah untuk pjkbm di tampung disini.</p>
                 <a style="color:black;" href="https://forms.gle/sMASBcQRXYtBboza6" class="card-link">Buka</a>
             </div>
         </div>

     </div>
</div>
@code {

}
