@layout MainLayoutPJKBM
@page "/master/laporan-pencapaian-pjkbm"

<h4>Laporan Pencapaian PJKBM</h4>

<iframe onload="this.width=screen.width-300;this.height=868;" src="@AppConstants.LaporanPencapaianPJKBM" frameborder="0" allowFullScreen="true"></iframe>

@code {

}
