@inherits LayoutComponentBase
@using Blazored.Toast.Configuration


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">

                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <ErrorBoundary @ref="errorBoundary">
                        <ChildContent>
                            @Body
                        </ChildContent>
                        <ErrorContent>
                            <p class="errorUI">Nothing to see here right now. Sorry!</p>
                        </ErrorContent>
                    </ErrorBoundary>


                </div>
            </div>

        </div>

    </div>


    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fa fa-thumbs-up"
                    ErrorIcon="fa fa-bug" />
</div>


@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}