@page "/report-qurban"

<h4>Laporan Qurban</h4>

<iframe onload="this.width=screen.width-300;this.height=868;" src="@AppConstants.ReportQurbanUrl" frameborder="0" allowFullScreen="true"></iframe>

@code {

}
