@layout MainLayoutKU
@page "/index/ku"


<h4>Assalamualaikum wr wb, berikut adalah sistem informasi KU. Silakan akses menu dibawah:</h4>
<div class="row">
        <div class="col-lg-4">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data Pinjaman</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Mengatur data pinjaman</h5>

                <p class="card-text">Untuk mengatur data pinjaman KU.</p>
                <a style="color:black;" href="/master/pinjaman" ><span class="badge badge-pill badge-primary">Buka</span></a>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data Tabungan Jamaah</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Mengatur data tabungan</h5>

                <p class="card-text">Untuk mengatur data tabungan jamaah.</p>
                <a style="color:black;" href="/master/akuntabunganjamaah" ><span class="badge badge-pill badge-primary">Daftar Akun</span></a>
                <a style="color:black;" href="/master/tabunganjamaah" ><span class="badge badge-pill badge-warning">Daftar Tabungan</span></a>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
         <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Profil Infaq Jamaah</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Info Profil Infaq Jamaah</h5>

                <p class="card-text">Untuk mengatur profil infaq jamaah.</p>
                <a style="color:black;" href="/master/profilinfaqjamaah" ><span class="badge badge-pill badge-primary">Buka</span></a>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data Sodakoh Khusus</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Informasi Sodakoh Khusus</h5>
                <p class="card-text">Untuk mengatur data sodakoh khusus jamaah.</p>
                <a style="color:black;" href="/master/akunsodakohkhusus" ><span class="badge badge-pill badge-primary">Akun Sodakoh</span></a>
                <a style="color:black;" href="/master/setoransodakohkhusus" ><span class="badge badge-pill badge-warning">Sodakoh Uang</span></a>
                <a style="color:black;" href="/master/setoransodakohkhususbarang" ><span class="badge badge-pill badge-success">Sodakoh Barang</span></a>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Infaq dan Sodakoh</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Informasi Infaq dan Sodakoh</h5>
                <p class="card-text">Untuk mengatur data infaq dan sodakoh.</p>
                <a style="color:black;" href="/master/akuninfaqsodakoh" ><span class="badge badge-pill badge-primary">Akun Infaq dan Sodakoh</span></a>
                <a style="color:black;" href="/master/HeaderPenerimaanInfaqSodakoh" ><span class="badge badge-pill badge-warning">Penerimaan Infaq Sodakoh</span></a>
                <a style="color:black;" href="/master/PengeluaranInfaqSodakoh" ><span class="badge badge-pill badge-success">Pengeluaran Infaq Sodakoh</span></a>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Laporan KU</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Laporan KU Kelompok</h5>
                <p class="card-text">Monitoring laporan-laporan KU.</p>
                <a style="color:black;" href="/report/ku" ><span class="badge badge-pill badge-primary">Laporan KU</span></a>
                <a style="color:black;" href="/report/infaq-bulanan" ><span class="badge badge-pill badge-warning">Infaq Bulanan</span></a>
            </div>
        </div>
        </div>
</div>
@code {

}
