@page "/report-zakat-fitrah"

<h4>Laporan Zakat Fitrah</h4>

<iframe onload="this.width=screen.width-300;this.height=868;" src="@AppConstants.LaporanZakatFitrah" frameborder="0" allowFullScreen="true"></iframe>

@code {

}
