@page "/login"
@layout NoAuthLayout
@using MoslemToolkit.Data
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IToastService toastService
@inject NavigationManager NavMgr
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Moslem Toolkit 1.0</h1>
                </div>
                <form class="user">
                    <div class="form-group">
                        <input type="text" @bind-value="@Nama" class="form-control form-control-user"
                               id="exampleInputEmail" aria-describedby="emailHelp"
                               placeholder="Masukan nama user Anda...">
                    </div>
                    <div class="form-group">
                        <input type="password" @bind-value="@Password" @onkeyup="@KeyUp" class="form-control form-control-user"
                               id="exampleInputPassword" placeholder="Kata Kunci">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">
                                Ingat saya!
                            </label>
                        </div>
                    </div>
                    <a href="" @onclick="Masuk" class="btn btn-primary btn-user btn-block">
                        Masuk
                    </a>
                 
                   
                </form>
                
                @*<hr><div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                    <a class="small" href="register.html">Create an Account!</a>
                </div>*@
            </div>
        </div>
    </div>

   

    @if (Gagal)
    {
        <br />
        <div class="alert alert-danger">Kata kunci salah, silakan dimasukan kembali yang benar. Ajkhr</div>
    }

    @code{
        public string Nama { get; set; }
        public string Password { get; set; }
        public bool Gagal { set; get; }
        void KeyUp(KeyboardEventArgs e)
        {
            if (e.Key == "Enter")
            {
                Masuk();
                //Console.WriteLine(this.Value);
            }
        }
        void Masuk()
        {
            if (Nama == AppConstants.USER_ADMIN && Password == AppConstants.PassKeyAdmin)
            {
                Lanjut();
                return;
            }else if (Nama == AppConstants.USER_KU && Password == AppConstants.PassKeyKeuangan)
            {
                Lanjut();
                return;
            }else if (Nama == AppConstants.USER_PJKBM && Password == AppConstants.PassKeyPengajar)
            {
                Lanjut();
                return;
            }
            else
            if (Password == AppConstants.PassKeyJamaah)
            {
                Lanjut();
                return;
            }
            Gagal = true;
            toastService.ShowError("Password salah");
        }

        async void Lanjut()
        {
            await localStorage.SetItemAsync(AppConstants.NameKey, Nama);
            NavMgr.NavigateTo($"/");
            Gagal = false;
        }
    }